.row {
    margin-left: 0px;
    margin-right: 0px;
}
#navbar{
    color: black;
}

#side_bar {
    background:#f0740e;
    z-index: 500;
    height: 100vh;
    position: sticky;
    top: 0px;
    right: 0px;
}

#side_bar-logo {
    background:#f0740e;
    z-index: 500;
    height: 50px;
}
#header {               
    height: 50px;
    background: #f0740e;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0px;
    right: 0px;
    z-index: 500;

}


.content{
    background-color: honeydew;
    min-height: 500px;
    -webkit-box-shadow: 3px 2px 15px 5px rgba(250, 164, 65, 0.085); 
    box-shadow: 3px 2px 15px 5px rgba(250, 164, 65, 0.085);
    border: black 1px solid;
    border-radius: 10px;
}



#side_bar_button {
    position: sticky;
    top: 50px;
}
/*  tree view*/

  #listing {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
  }

  #listing ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
  }
  #listing li {
    list-style-type: none;
    border-left: 2px solid #000;
    margin-left: 1em;
  }
  #listing li div {
    padding-left: 1em;
    position: relative;
  }
  #listing li div::before {
    content:'';
    position: absolute;
    top: 0;
    left: -2px;
    bottom: 50%;
    width: 0.75em;
    border: 2px solid #000;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
  }
  #listing ul > li:last-child {
    border-left: 2px solid transparent;
  }

  #listing li div i {
    margin-right: 3px;
  }

  .fa-folder {
    color: burlywood;
  }

  .fa-file {
    color:cornflowerblue;
  }

  .listing-container {
    overflow: scroll;
    border: 2px orange solid;
    max-height: 500px;
    min-height: 270px;
    margin-bottom: 20px;
  }

  .listing-container  ul,li p {
    display: inline;
  }

.modal-header,.modal-footer {
    border: none;
}

#listing li > ul {
  display: none;
}


.permision_ko {
  color: red;
}

.modal-body p {
  word-wrap: break-word;
}