{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Logtail</title>
        {% block css %}
        {% endblock css %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body style="background: #ecf0f1;">
        <!--NavBar-->
        <nav id="navbar" >
                <div class=" bg-light">
                    <div id="header"><h1 class='logo'>LogTail</h1></div>
        </nav>       
        {% block body %}
        {% endblock body %} 
        <!--NavBar end-->
        <script src="{%  static "js/jquery.js" %}" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/e7c2f3706d.js" crossorigin="anonymous"></script>
        <script src="{% static "js/tree.js" %}"></script>
        <script src="{% static "js/tail.js" %}"></script>
        {% block js %}
        {% endblock js %}       
    </body>
</html>