{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>MiniBlog</title>
        {% block css %}
        {% endblock css %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body style="background: #ecf0f1;">
        <!--NavBar-->
        <nav id="navbar" >
            <div class="row m-0 p-0">
                
                <div id="side_bar" class=" m-0 col-2 m-0">
                    <div id="side_bar-logo" class=" m-0"></div>
                    <div id="side_bar_button"><a > button </a></div>
                </div>
                <div class="p-0 m-0 col-10 bg-light">
                    <div id="header"></div>
                    <div class="row">
                        <div class="col-2 m-0"></div>
                        <div class=" content  mt-3 col-8 container">
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-10" for="path">Path</label>
                                    <label  class="col-2" for="depth">Depth</label>
                                </div>
                                <div class="row">
                                    <input type="text" class="col-10 form-control" id="path" aria-describedby="Type the folder path to scrape" placeholder="Type folder path to scrape">
                                    <input type="number" value="5" min="1" class="col-2 form-control" id="depth"  placeholder="Subtree depth">
                                    <small id="emailHelp" class="form-text text-muted"> Linux format:  <strong>c:\folder</strong>  becomes <strong>/c/folder</strong></small>
                                </div>
                                <div class="row">
                                    <button id="go-button" type="button" class="col-1 btn btn-info">Go</button>
                                </div>
                            </div>
                            <div class="listing-container" >
                                <ul id="listing" class="tree">

                                </ul>
                            </div>
                            {% block body %}
                            {% endblock body %} 
                        </div>
                        <div class="col-2 m-0 p-0"></div>
                    </div> 
                </div>
            </div>
        </nav>
        <!--NavBar end-->

        <script src="{%  static "js/jquery.js" %}" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/e7c2f3706d.js" crossorigin="anonymous"></script>
        <script src="{% static "js/tree.js" %}"></script>
        {% block js %}
        {% endblock js %}       
    </body>
</html>