{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>MiniBlog</title>
        {% block css %}
        {% endblock css %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body style="background: #ecf0f1;">
        <!--NavBar-->
        <nav id="navbar" >
                <div class=" bg-light">
                    <div id="header"></div>
                    <div class="container-fluid">
                        <div class="row">
                            
                            <div class="col-3 filebrowser  mt-3  container">
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-10" for="path">Path</label>
                                        <label  class="col-2" foar="depth">Depth</label>
                                    </div>
                                    <div class="row">
                                        <input type="text" class="col-10 form-control" id="path" aria-describedby="Type the folder path to scrape" placeholder="Type folder path to scrape">
                                        <input type="number" value="1" min="1" class="col-2 form-control" id="depth"  placeholder="Subtree depth">
                                        <small id="emailHelp" class="form-text text-muted"> Linux format:  <strong>c:\folder</strong>  becomes <strong>/c/folder</strong></small>
                                    </div>
                                    <div class="row">
                                        <button id="go-button" type="button" class="col-2 btn btn-info">Go</button>
                                        <div  class="loader">Loading...</div>
                                        <button id="tail-button" type="button" class="ml-auto  col-3 btn btn-danger text-white">Tail -f</button>
                                    </div>
                                </div>
                                <div class="listing-container" >
                                    <ul id="listing" class="tree">

                                    </ul>
                                </div>
                                <div class="col-8 m-0"></div>
                                {% block body %}
                                {% endblock body %} 


                                <!--modal-->
                                <div class="modal fade " id="error_modal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog  modal-dialog-centered" role="document">
                                    <div class="modal-content bg-warning">
                                    <div class="modal-header">
                                        <h5 class="modal-title" >Error</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body ">

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <!--End modal-->
                            </div>
                            <div class="col-9 tail-container mt-3">                  
                                <div id="tail-ouput" class="container">

                                </div>
                            </div>
                        
                        </div> 
                    </div>
                
                </div>
        </nav>
        <!--NavBar end-->

        <script src="{%  static "js/jquery.js" %}" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/e7c2f3706d.js" crossorigin="anonymous"></script>
        <script src="{% static "js/tree.js" %}"></script>
        <script src="{% static "js/tail.js" %}"></script>
        {% block js %}
        {% endblock js %}       
    </body>
</html>